body {
    font-family: 'Roboto', sans-serif;
    background-color: #F5F7FA;
    color: #333;
    margin: 0;
    overflow: hidden;
    height: 100vh;
}

.sidebar-link {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.sidebar-link:hover {
    background-color: #34495E;
}

.card {
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #CCC;
    border-radius: 4px;
    transition: border-color 0.3s;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #4A90E2;
}

.dashboard-container {
    display: flex;
    height: calc(100vh - 60px);
}


.content {
    margin-left: 250px;
    flex: 1;
    overflow-y: auto;
    height: 100%;
}

.main-content {
    padding: 20px;
}